# FontAwesome Pro registry and token (commented out - requires paid license)
# Uncomment these lines if you have a FontAwesome Pro license
# @fortawesome:registry=https://npm.fontawesome.com/
# //npm.fontawesome.com/:_authToken=${FONTAWESOME_TOKEN}